 body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(10, 10, 81);
}

.container {
  position: relative;
  width: 700px;
  height: 400px;
}
.box{
    position: absolute;
    top: 0;
    width: 350px;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.55;
    border: 2px solid white;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box1{
    left: 0;
    z-index: 1;
}
.box2{
    left: 80px;
    z-index: 2;
}
.box3{
    left: 160px;
    z-index: 3;
}
.box4{
    left: 240px;
    z-index: 4;
}
.box5{
    left: 400px;
    z-index: 6;
}
.box6{
    left: 320px;
    z-index:5;
}

