/* nav{
    height: 40px;
    width: 400px;
    background-color: rgb(6, 6, 101);
    border-radius: 10px;
    margin-left: 400px;

} */
/* .primary{
    height: 30px;
    width: 100px;
    margin-top: 5px;
    margin-left: 150px;
    border-radius: 10px;
    background-color: aqua;
    
} */
/* body{
    background-image: url("https://img.freepik.com/free-photo/abstract-flowing-neon-wave-background_53876-101942.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    height: vh;
    width: vw;
} */
