 @import "tailwindcss";

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 22ch;
  }
}

.animate-typing {
  width: 0;
  animation: typing 3s steps(22) forwards;
}


@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


html {
  scroll-behavior: smooth;
}
