*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    padding-left: 250px;
}
header{
    display: flex;
    height: 40px;
    width: 930px;
    background-color: #d8d5d5;
    justify-content: space-between;
    padding: 8px 20px;
    gap: 40px;
    
}
.logo{
    font-size: 20px;
    font-weight: bold;
    color: rgb(11, 11, 154);
}
.content{
    display: flex;
    gap: 70px;
}
.cta-button{
    height: 25px;
    width:90px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.cta-button:hover{
    background-color: darkblue;
}
.content-div{
    display: flex;
    }
    .one{
        height: 600px;
        width: 400px;
        background-color: white;
        margin-top: 60px;
        padding-left: 30px; 
        position: relative;  
         
    }
    .heading{ 
        margin-top: 50px;  
    }
    .para{
        margin-top: 10px;
    }
    .coursebtn{
        margin-top: 40px;
        height: 30px;
        width: 150px;
        background-color: blue;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .three{
        height: 600px;
        width: 530px;
        /* background-color: #811313; */
        background-image: url(https://t3.ftcdn.net/jpg/05/97/12/14/360_F_597121465_zwbDHURE71TuAZ8MBtGK1LrWbbTz5FkA.jpg);
        background-size: cover;
        background-position: center;
    }
    footer{
       
        /* background-color: #d8d5d5; */
        display: flex;
        /* justify-content: center;
        align-items: center; */
        /* gap: 20px */
      
    }
    .two{
        display: flex;
        gap: 10px;
        border: 1px solid white;
        border: none;
        height: 35px;
        width: 180px;
        padding: 6px;
        background-color: rgb(175, 207, 14);
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
        position: absolute;
        left: 550px;
        top:350px;
        
    }
    .cont-one{
        height: 150px;
        width: 250px;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        position: absolute;
        top:500px;
        left: 300px;
        padding: 20px;
    }
    .cont-two{
        height: 150px;
        width: 250px;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        position: absolute;
        top:500px;
        left: 600px;
        /* margin-left: 15px; */
        padding: 20px;
    }
    .cont-three{
        height: 150px;
        width: 250px;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        position: absolute;
        top:500px;
        left: 900px;
        /* margin-left: 15px; */
        padding: 20px;
    }
    