.container{
    max-width: 1000px;
    margin: auto;
    /* background:linear-gradient( to top,red 20%,green,blue,violet); */
    background-color: aqua;
    padding: 20px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.content{
    width: 400px;
    /* justify-content: space-between; */
}
@media screen and (max-width:400px){
    .container{
        width: 100%;
        background-color: red;
    }
    .img{
        width: 100%;
    }
    .content{
        width: 100%;
    }
}