*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    background-color: black;
}
.main-container{
    height:550px;
    width: 800px;
    border: 2px solid white;
    background-color: white;
    margin: 50px auto;
    
}
.logo{
    color:rgb(6, 6, 144);
    font-size: 18px;
    padding-left: 18px;
}
.container{
    height : 500px;
    width: 500px;
    border: 1px solid white;
    background-color: rgb(225, 183, 200);
    border-radius: 15px;
    position: relative;

}
.header{
    display: flex;
    gap:250px;
    padding-top: 30px;
}
.content{
    display: flex;
    gap:50px;
    color: black;
    font-size: 15px;
}
.signup-button{
    height:30px;
    width:90px;
    border-radius: 6px;  
    position: absolute;  
    left: 600px;
    top: 30px;
    border: none;
    border: 1px solid black;
}
.body{
    margin-top: 90px;
    padding-left: 15px;
    
}

.image{
    height: 340px;
    width: 250px;
    position: absolute;
    left: 450px;
    top:100px;
    background-image: url(https://www.nakedkitchens.com/image/catalog/blog/2023/Small%20Kitchens/Shaker%20kitchen%20by%20Far%20Studio%20photo%20Matt%20Clayton.jpg);
    background-size: cover;
     
}
.button{
    height: 28px;
    width: 140px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    gap:8px;
    border-radius: 10px;
    background-color: seashell;
    font-size: 15px;
    color: rgb(36, 36, 192);
}
.button-text{
    font-size: 15px;
    height:26px;
    width: 70px;
    background-color: rgb(6, 6, 144);
    color: white;
    border-radius: 10px;
    align-items: center;
    padding: 5px 10px;
}
h1{
    
    color: rgb(6, 6, 144);
    margin-top: 20px;
}

.one-box{
    display: flex;
    gap: 10px;
    height: 50px;
    width: 430px;
    border: 1px solid white;
    align-items: center;
    background-color: white;
}
.one-box3{
    display: flex;
    gap: 10px;
    

}
.but{
    height: 28px;
    width: 100px;
    color: thistle;
    background-color: red;
    border: none;
    border-radius: 7px;
}   
.two-box{
    display: flex;
    gap: 10px;
    height: 30px;
    width: 430px;
    border: 1px solid black;
    align-items: center;
    background-color: white;   
    margin-top: 10p;
}
.search{
    margin-top: 40px;
}
