/* *{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
} */
 body{
    background-color:rebeccapurple;
 }
.container{
    height: 550px;
    width: 900px;
    border: 1px solid black;
    margin-left: 70px;
    background-color: aliceblue;

}


.services-container{
  max-width: 1200px;
  margin: auto;
}

/* Top Grid */
.top-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.card{
  height: 120px;
  border-radius: 12px;
  color: white;
  display: flex;
  align-items: end;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}

.purple{ background: linear-gradient(to right, #6a6df0, #8f94fb); }
.yellow{ background: linear-gradient(to right, #f6c667, #f4b942); }
.blue{ background: linear-gradient(to right, #4facfe, #00c6ff); }
.pink{ background: linear-gradient(to right, #d66efd, #f093fb); }


/* Bottom Grid */
.bottom-grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.small-card{
  background: white;
  height: 120px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
