*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://images.stockcake.com/public/b/3/4/b3428842-d9e8-4d99-9df3-f19da3952bb6_large/sunset-silhouette-solitude-stockcake.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    
}
.main-contain{
     height: 600px;
    
} 
nav{
    display: flex;
    /* padding-top: 5px; */
    margin:10px;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 20px;

}
.pra{
    color: rgb(223, 64, 6);
    
    
}
.para{
    padding-top: 8px;
    color: azure;
    margin-left: 50px;
    justify-content: space-between;
}
.button{
    display: flex;
    padding-top: 8px;
    height: 30px;
}
.search{
    color: aliceblue;
    background-color: rgb(223, 64, 6);
    border: 1px solid orange;

}
.content1{
    margin-left: 30px;
    

}
.inpu{
    border:1px solid orange ;
    background-color: black;
    color: white;
}
.body{
    display: flex;
    margin-top: 150px;
}
.web{
    color: white;
    font-size: 40px;

}
.dev{
    color: rgb(19, 233, 147) ;
}
.cont1{
    color: white;
    font-size: large;
}
.join{
    height: 25px;
    width: 90px;
    border-radius: 8px;
    border: none;
    background-color: rgb(190, 225, 34);
    
}
.content2{
    height: 320px;
    width: 250px;
    border: 1px solid black;
    background-color: rgb(135, 6, 81);
    /* margin-left: 480px; */
    border-radius: 10px;
    margin-left: 400px;
    padding: 20px;
    /* justify-content: space-between; */
    box-shadow: 2px 2px 2px white;


}
.login{
    height: 30px;
    width: 180px;
    border-radius: 8px;
    color: rgb(227, 24, 24);
    background-color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    margin-left:20px;
}
.box{
    margin-top: 20px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border:none;
    color: aliceblue;
     margin-left:15px;
     
}
.log{
    height: 30px;
    width: 180px;
    border-radius: 10px;
    margin-top: 15px;
    color: aliceblue;
    background-color: orangered;
    border: none;
    margin-left:20px;
}
.dot{
    font-weight: bold;
    margin-left:20px;
    color: aliceblue;
}
a{
    color: rgb(190, 16, 16);
}
.poro{
    margin-left:70px;
    font-size: 15px;
    color: aliceblue;
}
.logos{
    display: flex;
    height: 30px;
    width: 200px;
    /* background-color: aliceblue; */
    margin-top: 10px;
    justify-content: space-between;
    font-size: 30px;
}
